<footer class="footer">
  <div class="footer-inner">
    <div class="footer-derivrights">
      <p>&#169; 2020 Deriv | All Rights Reserved</p>
    </div>
    <div class="footer-followus">
     	<p> Follow us on: </p>
      <a href= "https://www.facebook.com/derivdotcom">
        <img class = "imagesfooter" src={{asset 'facebook.svg'}}> </img>
      </a>

      <a href= "https://www.twitter.com/Derivdotcom">
      	<img class = "imagesfooter" src={{asset 'twitter.svg'}}> </img>
      </a>

      <a href= "https://www.instagram.com/deriv_official/">
      	<img class = "imagesfooter" src={{asset 'instagram.svg'}}> </img>
      </a>

      <a href= "https://www.linkedin.com/company/derivdotcom">
      	<img class = "imagesfooter" src={{asset 'linkedin.svg'}}> </img>
      </a>
    	
    </div>
  </div>
</footer>
