/***** Footer *****/
.footer {
  border-top: 1px solid $border-color;
  margin-top: 60px;
  background-color: black;
  color: white;

  a {
    color: $secondary-text-color;
  }

  &-inner {
    @include max-width-container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-followus{
    display: flex;
    align-items: center;

    img{
      padding-left: 1rem;
    }
  }

}
